{% extends 'base.html.twig' %}
{% block title %} Pokémon Cards {% endblock %}
{% block body %}
    <div class="grid grid-cols-5 gap-4">
        {% for card in cards %}
            <div class="bg-gray-200 rounded-lg justify-items-center">
                <a href="{{path('card_details', {id: card.id})}}">
                    <img src="{{card.images.small}}" alt="{{card.name}}" />
                </a>
                <div class="text-left">
                    <p><strong>Pokemon ID:</strong> 
                    {{ card.id }}</p>
                    <p><strong>Pokemon Name:</strong>
                    {{ card.name }}</p>
                    <p><strong>Pokemon Type:</strong>
                    {{ card.types.0 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}